/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --cor-de-iconos: #2A7AE4
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0 5%;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    width: 100%;
    height: 88px;
}
.menu__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    width: 150px;
}

.menu__header img{
    width: 24px;
    height: 24px;
}

menu__title{
    width: 102px;
}

.menu__list{
    display: flex;
    align-items: center;
    width: 653px;
    justify-content: space-between;
}

.menu__list__item:hover{
    border-bottom: 1px solid rebeccapurple;
}

/*Sección Title*/


.title__div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    height: 23rem;
}

.title__container{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 10px 0 0;
    gap: 1.5px;
}

#profile{
    width: 368px;
    height: 368px;
    border-radius: 50%;

    transition: box-shadow .1s transform;
    background: 
        url(./assets/profile.jpg)
        no-repeat
        center;
    background-size: cover;
}

.profile:hover {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}

.title__network{
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    padding: 0;
}

/*Sección About*/

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    gap: 0.5rem;
    background: #eaf2fd;
}

.about__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 100%;
}

.about__title{
    width: 8rem;
    font-size: 1.5rem;
}

.about__paragraph{
    font-weight: 400;
    line-height: 19px;
    width: 700px;
}

/*Sección Hobbies*/

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 1rem;
    margin: 0 0 88px;
}

.skills__title{
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.3rem;
}

.skills__line{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    gap: 16px;
    width: 100%;
    ;
}

.skills__box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 16px;
    gap: 8px;
    width: 176px;
    height: 80px;
    background-color: #FFFFFF;
    transition: .5s ease;
}

.skills__box:hover{
    width: 186px;
    height: 90px;
    
}

.skills__img{
    width: 24px;
    height: 37px;
    font-size: 32px;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: center;
}


.skills__img img{
    width: 30px;
    height: 30px;
    padding: 0 0 10px 0;
}

.skills__name{
    display: flex;
    align-items: center;
}

.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 40px 0;
    gap: 1rem;
}

.hobbies__title{
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.3rem;
}

.hobbies__line{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
    gap: 16px;
    width: 100%;
    ;
}

.hobbies__box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 16px;
    gap: 8px;
    width: 176px;
    height: 80px;
    background-color: #FFFFFF;
}

.hobbies__img{
    width: 24px;
    height: 37px;
    font-size: 32px;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: center;
}

.hobbies__img img{
    width: 30px;
    height: 30px;
    padding: 0 0 10px 0;
}

.hobbies__name{
    display: flex;
    align-items: center;
}

/* Experiencia Académica*/

.academic{
    padding: 50px 0;
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.academic__courses{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    justify-content: center;
    width: 100%;
}

.academic__courses__item__img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;

    width: 280px;
    height: 286px;
}

.academic__courses__item__img img {
    width: 100%;
}

.img-oracle {
    border-radius: 50%;
}

.academic__courses__item__title{
    font-size: 1.5rem;
}

.academic__courses__item__subtitle{
    font-size: 1.2rem;
}

.academic__title{
    margin: 10px 0;
}

/* experiencia*/

.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 0 0 32px;
}

.experience__section__title{
    font-size: 2rem;
    text-align: center;
}

.experiencie__box{
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
}

.experience__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.experience__title{
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.experience__text{
    font-weight: 500;
    font-size: 15px;
}

.experience__description{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 560px;
}


.experience__botao{
    width: 6rem;
    height: 3rem;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    cursor: pointer;
}


.btn-demo{
    background:  #2A7AE4;
    color: white;
}

/*Contacto*/

.formcontato__contacto{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px 0px 0px ;
    gap: 16px;
    background: #EAF2FD;
}

.formcontato__img{
    width: 464px;
    height: 593px;
}

.formcontato__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    width: 100%;
    height: 100%;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
}

.formcontato__title{
    font-size: 32px;
    line-height: 38px;
    font-style: normal;
}

.formcontato__subtext{
    font-weight: 500;
    line-height: 19px;
}

.formcontato__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
}

.formcontato__input{
    width: 600px;
    height: 40px;
    opacity: 0.56;
    border-radius: 4px;
    background: #FFFFFF;
    border: none;
    border-bottom: 1px solid #2A7AE4;
}

.formcontato__input::placeholder {
    visibility: hidden;
    color: #00000000;
}

.formcontato__botao{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white;
    width: 144px;
    height: 51px;
    justify-content: center;
    border: none;
    background-image: linear-gradient(
        150deg,
        #9500ff,
        #09f,
        #00DDFF
    );
    border-radius: 8px;
    transition: .3s;
}

.formcontato__botao span {
    background: #111;
    padding: 6px 22px;
    border-radius: 6px;
    transition: 0.3s;
    opacity: 1;
}

.formcontato__botao:active{
    transform: scale(0.9);
}

.formcontato__botao span:hover{
    background: none;
}

.input-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.input-label{
    position: absolute;
    top: 13px;
    left: 10px;
    color: #A2A2A2;
    
    transition: all 0.25s;
}

.input-message--error {
    display: none;
}

.input-message--invalid,
.input-message-error {
    color: red;
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;

}

.input-message--invalid {
    margin-bottom: 0.5rem;
}

.input-message--invalid .formcontato__input {
    border: 1px solid var(--warning-color);
    border-radius: 7px;
}

.formcontato__input:focus {
    outline: none;
}

.formcontato__input:not(:placeholder-shown) + .input-label,
.formcontato__input:focus + .input-label {
    font-size: 0.75rem;
    top: 0.5px;
    transition: all 0.25s;
}

.formcontato__textarea{
    border: none;
}

.formcontato__textarea::placeholder{
    font-size: 16px;
    position: absolute;
    top: 5px;
    left: 5px;
    color: #A2A2A2;
}



/*footeer*/

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    gap: 0.5rem;
}

.footer__rodape{
    font-weight: 500;
    text-align: center;
    color: #464646;
}

.menu__list__item__contato{
    display: none;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/

@media (max-width: 425px) {

/*Menu*/
.menu__list{
    display: none;
}

.menu__list__item__contato{
    display: block;
}

.menu__header{
    gap: 0px;
}

.menu__header h3{
    font-size: 10px;
}

/*Titulo*/

.title__div{
    flex-direction: column;
    padding: 16px;
    justify-content: center;
    align-items: start;
    width: 90%;
    height: 15rem;
    align-self: stretch
}

#profile{
    width: 98px;
    height: 98px;
    order: 0;
    flex-grow: 0;
}

.title__container{
    align-items: flex-start;
    width: 328px;
    height: 148px;
    order: 1;
    flex-grow: 0;
}

.title__bio{
    margin: 10px 0;
}
.title__subsection{
    margin: 10px 0;
}
.title__network{
    margin: 0;
}

/*Sección sobre mi*/

.about{
    padding: 10px 16px;
    gap: 10px;
}

.about__title{
    margin: 10px 0;
}
.about__paragraph{
    margin: 0;
    width: auto;
}

/*Skills*/
.skills__line{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Hobbies*/

.hobbies__line{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Formación Académica*/
.academic__courses{
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}
/*Experiencia Profesional*/
.experience{
    flex-direction: column;
    align-items: center;
}
.experience__img{
    width: 100%;
    height: 100%;
}
.experiencie__box{
    flex-direction: column;
    padding: 0;
}
.experience__info{
    align-items: center;
    width: 100%;
}
.experience__description{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
/*Contacto*/
.formcontato__img{
    display: none;
}
.formcontato__input{
    width: 100%;
}
.formcontato__textarea{
    width: 70%;
}
/*Footer*/

}